@charset "utf-8";

body, h1, h2, h3, h4, h5, h6, p, div, ul, li {
	margin: 0;
	padding: 0;
}

body {
		font-family: Calibri, Geneva, sans-serif;
		background-color: #F5F5DC;
}

#Wrapper {
	width: 800px;
	margin:20px auto;
}

#Header {
		width: 800px;
		background: #F5F5DC;
		text-align: center;
}

#Header img {
		padding-top: 20px;
		padding-bottom: 20px;
		
}

.Border {
	width: 800px;
	background: #708090;
	height: 1px;
}

#Links {
		width: 800px;
		background: #c0c0c0;
}

#Nav {
		width: 800px;
		background: #F5F5DC;
		height: 55px;
		margin: 10px auto;
}

#Nav ul {
		list-style-type: none;	
}

#Nav ul li {
		float: left;
}

#Nav ul li a {
		display: block;
		height: 20px;
		line-height: 20px;
		background: #f5f5f5;
		width: 155px;
		font-size: 0.95em;
		font-weight: bold;
		color: #708090;
		text-align: center;
		text-decoration: none;
		margin: 20px;
		
		/*Border Radius*/
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border: 1px solid #008080;
}
		
#Nav ul li a:hover {
		background: #e6e6fa;
		background: -moz-linear-gradient(top, #f0f8ff, #b0c4de);
		background: -webkit-gradient(linear, left top, left bottom, from(#f0f8ff), to(#b0c4de));		
}

#Nav ul li a.current, #Nav ul li a.current:hover {
		background: #e6e6fa;
		background: -moz-linear-gradient(top, #f0f8ff, #b0c4de);
		background: -webkit-gradient(linear, left top, left bottom, from(#f0f8ff), to(#b0c4de));
		color: #008b8b;
		cursor: default;
}

#About {
		width: 800px;
		background: #F5F5DC;
		padding-top: 60px;
		padding-bottom: 60px;
}

#Resume {
		width: 800px;
		background: #F5F5DC;
		padding-top: 60px;
		padding-bottom: 60px;
}

#Portfolio {
		width: 800px;
		background: #F5F5DC;
		padding-top: 60px;
		padding-bottom: 60px;
}

#Contact {
		width: 800px;
		background: #F5F5DC;
		padding-top: 60px;
		padding-bottom: 60px;
}

#Content {
		width: 600px;
		margin: 10px auto;
		background: #FFFFF0;
		border: 1px solid #708090;
		
		/*Border Radius*/
		border-radius: 15px;
		-moz-border-radius: 15px;
		-webkit-border-radius: 15px;	
		
		/*Shadows*/
		box-shadow: 1px 1px 4px #000;
		-moz-border-radius: 1px 1px 4px #000;
		-webkit-border-radius: 	1px 1px 4px #000;
}

#Content img {
		float: left;
		border: 1px solid #708090;
		background: #FFFFF0;
		padding: 9px;
		margin: 0.8em;
		
		/*Border Radius*/
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;	
}

#Content h3 {
		color: #708090;
		padding-top: 0.8em;
		padding-bottom: 0;
		padding-left: 0.8em;
		padding-right:0;
}

#Content p {
		font-size: 1em;
		color: 	#000000;
		padding: 0.8em;
		line-height: 1.5em;
		
}

#Footer {
		background: #d3d3d3;
		height: 1px;
		width: 800px;
		border-bottom: 1px solid #708090;
}
